* {
  margin: 0;
  padding: 0;
}
html {
  background-color: brown;
}
body {
  background: rgb(200, 245, 179);
  border: 5px solid sandybrown;
  width: 800px;
  margin: auto;
  margin-top: 100px;
  padding-left: 15%;
  padding-top: 20px;
}
.pano {
  display: flex;
  flex-direction: row;
  width: 600px;
  min-height: 80px;
  justify-content: space-around;
  border: 5px solid sandybrown;
  background-color: blue;
  color: aliceblue;
  align-items: center;
}

#inp {
  height: 30px;
  width: 100px;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(231, 191, 89);
  color: red;
  font-size: 25px;
  font-weight: bolder;
  border: 5px solid rgb(179, 161, 7);
  text-align: center;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#bpl1,
#bpl2,
#res {
  width: 32%;
  padding: 10px;
  height: 40px;
}
.rezStyle {
  color: red;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
}
.bplStyle {
  background: rgb(248, 59, 11);
  color: blue;
  font-size: 18px;
}
#limit {
  width: 400px;
  display: flex;

  color: blue;
  margin-top: 20px;
}
.lmtStyle {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 40px;
  text-align: center;
}
